{% extends 'base.html' %}

{% block head_content %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sign-up.css') }}">
{% endblock %}
{% block title %}Log In{% endblock %}

{% block content %}

<div class="container">

	<h1>Log In</h1>

	<form action="" method="POST" >

		<p>{{ form.hidden_tag() }}</p>

		<p>{{ form.email.label }}</p>
		<p>{{ form.email(type="email", class="form-control") }}</p>

		<p>{{ form.master_password.label }}</p>
		<p>{{ form.master_password(class="form-control") }}</p>
		{% for error in form.master_password.errors %}
			{% if error %}
				<span style="color: red;">{{ error }}</span>
			{% endif %}
		{% endfor %}

		<p>{{ form.remember_me() }}{{ form.remember_me.label }}</p>
		<p>New? <a href="{{ url_for("auth.signup") }}" >Create an account</a> </p>

		<p>{{ form.submit(class="btn btn-primary") }}</p>
	</form>

</div>

{% endblock %}
